.container {
    
     display: flex;
     flex-direction: column;
     align-items: center;
}
.item {
   color: azure;
   background-color: rgba(89, 89, 243, 0.8);
   padding: 10px;
   font-size: 24px;
   border: 2px solid whitesmoke;
   border-radius: 8px;
   margin: 25px 0px ;
}
body {
    background-color: rgb(126, 152, 204);
}
    
